html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
canvas {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
img {
  width: 450px;
  margin-top: -30px;
}
.page {
  background-color: #489ca26e;
  height: 100%;
  overflow: hidden;
  position: relative;
}
h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 60px;
  color: #b93c3f;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}
